/* File: homepage.css
*/

html {
  margin: 2px;
  padding: 2px;
}

#wrapper {
  width: 1000px;
  margin: 0 auto;
}

h1 {
  font-size: xx-large;
  font-weight: bold;
  font-family: "Arial Black", Gadget, sans-serif;
  color: #464588;
}

.links {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.logo {
  width: 675px;
  height: 300px;
}

.adCol {
  position: absolute;
  top: 275px;
  left: 900px;
  width: 250px;
  min-height: 300px;
  max-height: 400px;
  margin: 2px;
  padding-top: 2px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.footer {
  margin: 2px;
  padding: 2px;
  border-top: 1px double;
  border-bottom: 1px solid;
  font-style: italic;
  font-size: x-small;
}